:root{
    --bg-color: #081b29;
    /* --text-color: #333; */
    --main-color:#754ef9;
    --text-color:#00abf0;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0,0,0,.2);

}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background: var(--main-color);
}

.ffoter-text p{
    font-size: 1.6rem;
    color: var(--white-color);
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--white-color);
    border-radius: .8rem;
    border: .2rem solid var(--main-color);
    outline: .2rem solid transparent;
    transition: .5s ease;

}

.footer-iconTop a:hover{

    outline-color: var(--white-color);
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: #333;
}